body {
    width: 100%;
}

/* moved to basics
article > div.header {
    background-color: var(--color-primary-off-white);
    padding: 6rem 1rem 4rem 1rem;
    margin-bottom: 4rem;
    border-bottom: 1rem solid var(--color-primary);
}*/
article > div.header {
    padding: 6rem 0rem 4rem 0rem;
}

article > div.header h1 {
    margin: 0 auto 1rem auto;
}
article > div.header p {
    margin: 0 auto;
    text-wrap: balance;
}
article > div.header .header-image {
    max-width: 40rem;
    margin: 0 auto;
}
.first-heading {
    margin-top: 4rem;
}

article {
    margin-left: auto;
    margin-right: auto;
}

div.article-body:not(.container) {
    padding-left: 1rem;
    padding-right: 1rem;
}

.article-content {
    
}

.article-outline {
    display: none;
}

.article-outline ul {
    list-style-type: none;
}

.article-outline > ul {
    position: sticky;
    top: 4rem;
}

@media (min-width: 600px) {
    article p, article h1, article h2, article h3, article h4, article h5 {
        max-width: 512px;
        max-width: 32rem;
        margin-left: auto;
        margin-right: auto;
    }
}

article p {
    font-size: 1rem;
    line-height: 1.8em;
    margin: 0 auto 1.8em auto;
}

article figure {
    max-width: 40rem;
    width: 100%;
    height: auto;
    margin: 0 auto 8rem auto;
}

figure img {
    outline: 1px solid var(--color-surface);
    border-radius: 4px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

figure > figcaption {
    max-width: 32rem;
    margin: 1.8rem auto;
}

/* useless flex stuff that I replaced with grid but don't want to delete because I'm a code hoarder
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.row > .cell {
    flex: 1 1 auto;
}

figure .row > .cell:not(:last-child) {
    padding-right: 1rem;
}

.row img {
    max-width: 100%;
} */

img.borderless {
    outline: none;
    border-radius: 0;
    box-shadow: none;
}



.wide {
    max-width: 60rem;
}

article .card, article .card-collection {
    max-width: 576px;
    max-width: 36rem;
}

article > .card-collection {
    background-color: aqua;
}

.block {
    display: block;
    margin-bottom: 8rem;
}
.block.snug, figure.snug, figure.midblock {
    margin-bottom: 4rem;
}

@media (min-width: 1100px) {
    .block {
        display: grid;
    }
    /* article image content goes on the right */
    article header.grid .header-image {
        grid-area: img;
        width: 1fr;
    }
    /* article text content goes on the left */
    article header.grid hgroup {
        grid-area: content;
        width: 1fr;
    }
    /* articles are two columns throughout */
    article header.grid {
        display: grid;
        grid-template-areas: "content img";
        grid-template-columns: minmax(28rem, 32rem) 1fr;
        gap: 2rem;
        align-items: center;
    }
    article .block {
        grid-template-columns: minmax(28rem, 32rem) 1fr;
        gap: 1.8rem 2rem;
    }
    article .block.full {
        grid-template-columns: 1fr;
    }
    article .block > .midblock {
        grid-row: 1 / span 6;
    }
    article .block > .left {
        grid-column: 1;
    }
    article .block > .right {
        grid-column: 2;
    }
    article .block > .left > p:last-child  {
        margin-bottom: 0;
    }
    /*
    article .block div p:first-child {
        margin-top: 0;
    }*/
    article .block.center {
        align-items: center;
    }
    article .u-max-full-width {
        max-width: unset;
    }
    article .block > figure, article .block > .card-collection {
        margin-bottom: 0;
    }
}

figure .window {
    outline: 1px solid var(--color-surface);
    max-height: 360px;
    overflow-y: auto;
}