/*
* Legacy grid and syntax taken and adapted from Skeleton by Dave Gamache
*/

/* Table of contents
--------------------------------------------------
- Theme
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Chips
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Image Utilities
- Clearing
- Header Styles
- Footer Styles
- Project Grid
- Project Pages
*/

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT,WONK@0,9..144,400,0,0;0,9..144,400,100,0;0,9..144,700,0,1;0,9..144,700,100,0;0,9..144,700,100,1;1,9..144,400,0,0&family=Proza+Libre:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Mono:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


/*
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700;900&family=Source+Serif+Pro:wght@400;600;700&display=swap');

@import url("https://blokkfontcom-losgordos.netdna-ssl.com/v2/blokkfont.css");*/

/* Theme
-------------------------------------------------- */
:root {
    /* Teal and mauve theme */
    --color-primary: #006A62;
    --color-primary-bright: #0FDBCA; /* M3 primary-container */
    --color-primary-tint: #CCE8E3; /* M3 secondary-container */
    --color-primary-rich-black: #061C1C; /* M3 on-surface */
    --color-primary-off-white: #E5F3F0; /* M3 surface-variant */
    --color-primary-backsplash: #96b1ac;
    --color-primary-glass: rgba(229, 243, 240, 0.7); /* primary-off-white at 70% opacity */
    --color-secondary: #A07178;
    --color-secondary-tint: #D0B8BC;
    --color-secondary-rich-black: #2E0014;
    --color-secondary-off-white: #F4EEEF;
    --color-shadow: rgba(6, 28, 28, 0.15);
    --color-background: #FDFDFD;
    --color-background-raw: 253,253,253;
    --color-surface: #F5F5F5;
    --color-surface-raw: 245,245,245;
    --color-outline: #6f7977;
    --color-text-base: #000;
    --color-section-background: none;
    /* --color-navbar-background: rgba(250,250,250,0.9); 
    --color-navbar-background: rgb(250,250,250); */

    /* Warm caramel theme 
    --color-primary: #D38542;
    --color-primary-tint: #DFAA74;
    --color-primary-shade: #8D5C37;
    --color-primary-black: #46322C;
    --color-shadow: ;
    --color-background: #FCFCFC;
    --color-surface: #FAF2E5;
    --color-text-base: #1F2421;
    --color-text-headers: #28322C;
    --color-section-background: none;
    --color-navbar-background: rgba(250,250,250,0.9); 
    --color-navbar-background: rgb(250,250,250);
    --color-img-placeholder: var(--color-surface);
    --color-link: var(--color-primary);*/

    /* Old colors
    --color-background: #fff;
    --color-surface: whitesmoke;
    --color-text-base: #000;
    --color-text-headers: #000;
    --color-section-background: #fafafa;
    --color-navbar-background: rgba(250,250,250,0.9);
    --color-navbar-background: rgb(250,250,250);
    --color-img-placeholder: #DEDEDE;
    --color-primary: #2A5039;
    --color-primary-tint: #7B9E87;
    --color-link: #DD6E42;
    */
}
/* Project themes */
.fnps {
    --color-primary: #4B6709;
    --color-primary-bright: #CCEF86;
    --color-primary-tint: #DEE6C6;
    --color-primary-rich-black: #1B1C18;
    --color-primary-off-white: #E2E4D4;
    --color-primary-backsplash: #A6AF90;
    --color-primary-glass: rgba(226, 228, 212, 0.7);
}
.planet-9 {
    --color-primary: #1d4b66;
    --color-primary-bright: #c8e6ff;
    --color-primary-tint: #d2e5f5;
    --color-primary-rich-black: #191c1e;
    --color-primary-off-white: #dde3ea;
    --color-primary-backsplash: #9badbd;
    --color-primary-glass: rgba(221, 227, 234, 0.7);
}
.wheelies {
    --color-primary: #99461a;
    --color-primary-bright: #ffdbcc;
    --color-primary-tint: #ffdbcc;
    --color-primary-rich-black: #201a18;
    --color-primary-off-white: #f4ded5;
    --color-primary-backsplash: #c9a393;
    --color-primary-glass: rgba(244, 222, 213, 0.7);
}
.kirby {
    --color-primary: #b1293f;
    --color-primary-bright: #ffdada; /* M3 primary-container */
    --color-primary-tint: #ffdada; /* M3 secondary-container */
    --color-primary-rich-black: #201a1a; /* M3 on-surface */
    --color-primary-off-white: #f4dddd; /* M3 surface-variant */
    --color-primary-backsplash: #c9a2a3; /* M3 secondary70 */
    --color-primary-glass: rgba(244, 221, 221, 0.7)
}
.wildflowers {
    --color-primary: #7d479e;
    --color-primary-bright: #f4d9ff; /* M3 primary-container */
    --color-primary-tint: #efdcf5; /* M3 secondary-container */
    --color-primary-rich-black: #1d1b1e; /* M3 on-surface */
    --color-primary-off-white: #eadfea; /* M3 surface-variant */
    --color-primary-backsplash: #b7a5bc; /* M3 secondary70 */
    --color-primary-glass: rgba(234, 223, 234, 0.7);
}
@media (prefers-color-scheme: dark) {
    /* brown 
    :root {
        --color-background: #4F4040;
        --color-text-base: #F0F0F0;
        --color-section-background: #3B2F2F;
        --color-navbar-background: rgba(59,47,47,0.9);
        --color-navbar-background: rgb(59,47,47);
        --color-img-placeholder: #3B2F2F;
        --color-link: #EAA286;
    }*/

    /* gray 
    :root {
        --color-background: #333;
        --color-text-base: #DEDEDE;
        --color-text-headers: #F0F0F0;
        --color-section-background: #222;
        --color-navbar-background: #333;
        --color-img-placeholder: #555;
        --color-link: #EAA286;
        --color-highlight: #E29728;
    }*/

    /* material gray */
    /* :root {
        --color-background: #121212;
    } */
}


/* New Grid
-------------------------------------------------- */

.grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.block {
    display: grid;
    grid-template-columns: 1fr;
}

.grid.gapless {
    gap: 0;
}

.grid.min-2 {
    grid-template-columns: repeat(2, 1fr);
}

/* for horizontal case studies 

@media (min-width: 768px) {
    .home.section .project.card .project-image {
        grid-area: img;
        width: 1fr;
    }
    .home.section .project.card .content {
        grid-area: content;
        width: 1fr;
    }
    .home.section .project.card > .grid.project {
        grid-template-areas: "content img";
        grid-template-columns: 1fr 1fr;
    }
}*/

@media (min-width: 600px) {
    .grid.max-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    .block5 {
        grid-template-columns: repeat(5, 1fr);
        gap: 2rem;
    }
}

/* for smaller projects */

@media (min-width: 480px) {
    .grid.max-4 {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 600px) {
    .grid.max-3, .grid.max-4, .grid.max-5 {
        grid-template-columns: repeat(3, 1fr);
    }
    .photo-grid.grid.max-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 960px) {
    .grid.max-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    .grid.max-5 {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* for footer section */

@media (min-width: 480px) {
    .grid.max-2.half {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 600px) and (max-width: 959px) {
    .footer-content .grid.max-3 {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 960px) {
    .footer-content .grid.max-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 600px) {
    .span1 {
        grid-column: span 1 / auto;
    }
    
    .span2 {
        grid-column: span 2 / auto;
    }
    
    .span3 {
        grid-column: span 3 / auto;
    }
    
    .span4 {
        grid-column: span 4 / auto;
    }
}
    


/* Grid
-------------------------------------------------- */
.header header, .header .text-content, .container, .navbar-content, .footer-content {
    position: relative;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
}
/* .column, .columns {
    width: 100%;
    float: left;
    box-sizing: border-box;
} */
/* For devices larger than 480px */
/* @media (min-width: 480px) and (max-width: 599px) {
    .grid .three.columns, .see-more .six.columns {
        width: 48%;
        margin-left: 4%;
    }
    .grid .three.columns:nth-child(odd), .see-more .six.columns:first-child {
        margin-left: 0;
    }
} */
/* For devices larger than 600px */
@media (min-width: 600px) {
    .header header, .header .text-content, .container, .navbar-content, .footer-content {
        padding: 0 2rem;
    }
    /* .grid .column,
    .grid .columns {
        margin-left: 4%;
    }
    .grid .column:first-child,
    .grid .columns:first-child {
        margin-left: 0; 
    }
    .grid .one.column,
    .grid .one.columns                    { width: 4.66666666667%; }
    .grid .two.columns                    { width: 13.3333333333%; }
    .grid .three.columns                  { width: 22%;            }
    .grid .four.columns                   { width: 30.6666666667%; }
    .grid .five.columns                   { width: 39.3333333333%; }
    .grid .six.columns                    { width: 48%;            }
    .grid .seven.columns                  { width: 56.6666666667%; }
    .grid .eight.columns                  { width: 65.3333333333%; }
    .grid .nine.columns                   { width: 74.0%;          }
    .grid .ten.columns                    { width: 82.6666666667%; }
    .grid .eleven.columns                 { width: 91.3333333333%; }
    .grid .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .grid .one-third.column               { width: 30.6666666667%; }
    .grid .two-thirds.column              { width: 65.3333333333%; }
  
    .grid .one-half.column                { width: 48%; } */

}
/* For devices larger than 960px */
/* @media (min-width: 960px) {
    .column,
    .columns {
        margin-left: 4%;
    }
    .column:first-child,
    .columns:first-child {
        margin-left: 0; 
    }
    
    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
    
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
    
    .one-half.column                { width: 48%; }
    
    
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
    
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
    
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
} */


/* Base Styles
-------------------------------------------------- */
img {
    max-width: 100%;
    display: block;
}
::selection {
    background: var(--color-primary);
    color: #fff;
}
::-moz-selection {
    background: var(--color-primary);
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
.anchor {
    scroll-margin-top: 8rem;
}
@media (max-width: 600px) {
    .anchor {
        scroll-margin-top: 6rem;
    }
}
hgroup, h2, h3, h4, .section {
    scroll-margin-top: 6rem;
}
body {
    overflow-x: hidden;
}

/* Elevation */
/* M3/Elevation */
:root {
    --elevation1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    --elevation2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
    --elevation3: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}
.elevated1 {
    box-shadow: var(--elevation1);
}
.elevated2 {
    box-shadow: var(--elevation2);
}
.elevated3 {
    box-shadow: var(--elevation3);
}


/* Typography
-------------------------------------------------- */

body {
    font-family: 'Proza Libre', sans-serif;
    color: var(--color-text-base);
    background-color: var(--color-background);
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 2rem;
    font-family: 'Fraunces', serif;
    color: var(--color-primary-rich-black);
    font-variation-settings: "WONK" 0;
    font-weight: 400;
    text-wrap: balance;
    font-optical-sizing: auto;
}

h1 {
    font-variation-settings: "SOFT" 100, "WONK" 1;
}

/* Desktop type scale */
h1 {
    font-size: 4rem;
    font-weight: 700;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.29rem;
}
h6 {
    font-size: 1rem;
}
blockquote, p, li {
    font-size: 1rem;
    line-height: 1.8em;
}
.caption, figcaption, .button {
    font-size: 0.7917rem;
}
.caption, figcaption {
    font-style: italic;
}

/* Desktop type scale -- Golden Ratio, Tetratonic Scale, Fibonacci Series 
h1 {
    font-size: 4.25rem;
    font-weight: 700;
}
h2 {
    font-size: 2.3333rem;
}
h3 {
    font-size: 1.625rem;
}
h4 {
    font-size: 1.2917rem;
}
h5 {
    font-size: 1.1458rem;
}
h6 {
    font-size: 1rem;
}
blockquote, p {
    font-size: 1rem;
    line-height: 1.8em;
}
.caption, figcaption {
    font-size: 0.7917rem;
    font-style: italic;
}*/
.overline {
    margin-bottom: 1rem;
    /* font-variant-caps: all-small-caps;
    font-feature-settings: "smcp" on; */
}

/* Desktop type scale -- Golden Ratio, Tetratonic Scale, Pentagonal Series 
h1 {
    font-size: 5.3958rem;
    font-weight: 700;
}
h2 {
    font-size: 3.7708rem;
}
h3 {
    font-size: 2.0625rem;
}
h4 {
    font-size: 1.625rem;
}
h5 {
    font-size: 1.1458rem;
}
h6 {
    font-size: 1rem;
}
blockquote, p {
    font-size: 1rem;
    line-height: 1.8em;
}
.caption {
    font-size: 0.7917rem;
    font-style: italic;
}*/

/* Mobile type scale */
@media (max-width: 600px) {
    h1 {
        font-size: 2.8rem;
        font-weight: 700;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    h5 {
        font-size: 1.2rem;
    }
    h6 {
        font-size: 1rem;
    }
    blockquote, p {
        font-size: 1rem;
    }
    .caption {
        font-size: 0.8958rem;
        font-style: italic;
    }
}
/* Mobile type scale -- Golden Ratio, Octatonic Scale, Fibonacci Series 
@media (max-width: 600px) {
    h1 {
        font-size: 2.0625rem;
        font-weight: 700;
    }
    h2 {
        font-size: 1.5417rem;
    }
    h3 {
        font-size: 1.2917rem;
    }
    h4 {
        font-size: 1.1458rem;
    }
    h5 {
        font-size: 1.0625rem;
    }
    h6 {
        font-size: 1rem;
    }
    blockquote, p {
        font-size: 1rem;
    }
    .caption {
        font-size: 0.8958rem;
        font-style: italic;
    }
}*/

/* Old desktop Type Scale 
h1.display {
    font-size: 6rem;
}
h1 {
    font-size: 3.75rem;
    font-weight: 700;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    line-height: 1.8em;
    font-size: 1rem;
}
p.section-subtitle {
    font-size: 2rem;
    line-height: 2.8rem;
}*/

/* Old mobile font scale
@media (max-width: 600px) {
    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 1.2rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.75rem;
    }
    h3 {
        font-size: 2rem;
    }
    h5 {
        font-size: 1.375rem;
        font-weight: bold;
    }

    p {
        margin-top: 0;
        line-height: 1.75rem;
        font-size: 1.125rem;
    }
    p.section-subtitle {
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
}*/

.navbar, .overline, .chip, marquee {
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
}

.section-subtitle {
    font-weight: 400;
}

strong {
    background: var(--color-primary-tint);
    font-weight: 400;
}

strong.extra {
    background: var(--color-primary-bright);
}

/* Links
-------------------------------------------------- */
p a {
    color: var(--color-primary);
    text-decoration: solid 1px underline;
    /* -webkit-text-decoration: wavy underline; */
}
li > a {
    color: var(--color-primary);
    text-decoration: none;
    -webkit-text-decoration: none;
}
p a:hover, li > a:hover {
    /* background: var(--color-primary-backsplash); */
    color: var(--color-text-base);
    text-decoration: solid 2px underline;
    -webkit-text-decoration: solid 2px underline;
}

a[target="_blank"] h4::after, a[target="_blank"] h5::after {
    content: " ↗";
    font-family: monospace;
}

/*
a.card-link h3::after {
    content: " →";
}*/



/* Buttons
-------------------------------------------------- */
.button {
    font-size: 0.875rem;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    transition: all .4s;
}
.button.with-icon {
    padding: 0.5rem 1.5rem 0.5rem 1rem;
}
.button, .button:hover {
    text-decoration: none;
}
.button.primary {
    background-color: var(--color-primary);
    color: var(--color-primary-off-white);
}
.button.primary-off-white {
    background-color: var(--color-primary-off-white);
    color: var(--color-primary-rich-black);
}
.button.primary-off-white:hover {
    background-color: var(--color-primary-tint);
}
.button.surface {
    background-color: var(--color-surface);
    color: var(--color-text-base);
}
.button.surface.overlay {
    background-color: rgba(var(--color-surface-raw), 0.5);
    color: var(--color-text-base);
}
.button.outlined {
    outline: var(--color-outline) solid 1px;
}
.button.elevated {
    box-shadow: var(--elevation1);
}
.button:hover {
    box-shadow: var(--elevation3);
}

/* Chips
-------------------------------------------------- */
.chips.row {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
.chip {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    background-color:rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}


/* Forms
-------------------------------------------------- */


/* Lists
-------------------------------------------------- */
li {
    font-size: 1rem;
    line-height: 1.8em;
    margin-bottom: .9em;
}
ul, ol {
    margin: 0 auto 1.8em auto;
    box-sizing: border-box;
}
ul.check {
    list-style-type: "\2713 ";
}

/* Code
-------------------------------------------------- */


/* Tables
-------------------------------------------------- */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid var(--color-surface); 
}
th:first-child,
td:first-child {
  padding-left: 0; 
}
th:last-child,
td:last-child {
  padding-right: 0;
}
.table-wrapper {
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
}
.sticky-col {
    position: sticky;
    position: -webkit-sticky;
    background-color: var(--color-background);
}
.first-col {
    left: 0;
    max-width: 25%;
    white-space: normal;
    font-weight: bold;
    border-right: 1px solid var(--color-surface);
}


/* Spacing
-------------------------------------------------- */
.section {
    margin-bottom: 4rem;
}
.section-subtitle {
    margin-bottom: 2rem;
}
.body-section {
    margin-bottom: 3rem;
}
p {
    margin-block-end: 1.8em;
}
@media (max-width: 600px) {
    .section {
        margin-bottom: 3rem;
    }
    .section-subtitle {
        margin-bottom: 1rem;
    }
    .body-section {
        margin-bottom: 2rem;
    }
}


/* Utilities
-------------------------------------------------- */
.u-full-width {
    width: 100%;
    box-sizing: border-box;
}
.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}
.u-pull-right {
    float: right;
}
.u-pull-left {
    float: left;
}
.u-hidden {
    display: none;
}

/* Image Utilities
-------------------------------------------------- */
.full-bleed {
    width: 100vw;
    margin-left: calc(50% - 50vw);
    padding: 0;
}
.full-bleed .wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.full-bleed .wrapper > img {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
/*
.gallery {
    background-color: var(--color-section-background);
}
.gallery .wrapper {
    max-width: 1280px;
    padding: 2rem;
}*/
@media (min-width: 600px) {
    /*
    .full-bleed {
        width: calc(100% + 4rem);
        margin-left: -2rem;
    }
    .full-bleed .wrapper {
        padding: 0 2rem;
    }*/
}
@media (min-width: 960px) {
    
    .large {
        max-width: 1280px;
        width: calc(100% + 12rem);
        margin-left: -6rem;
        padding: 0;
    }
}

img.remove-background {
    mix-blend-mode: multiply;
}
/*
@media (prefers-color-scheme: dark) {
    img.dark-invert {
        filter: invert(1);
        mix-blend-mode: screen;
    }
}*/
img.round {
    border-radius: 1000px;
}
.backsplash > img {
    box-sizing: inherit;
    padding: 2rem;
    margin: 0 auto;
    outline: none;
}
.backsplash {
    box-sizing: border-box;
    border-radius: 12px;
    outline: 1px solid var(--color-primary);
}
.backsplash.polka {
    background-color: var(--color-primary-off-white);
    opacity: 1;
    background-image:  radial-gradient(var(--color-primary-backsplash) 1px, transparent 1px), radial-gradient(var(--color-primary-backsplash) 1px, var(--color-primary-off-white) 1px);
    background-size: 2rem 2rem;
    background-position: 0.5rem 0.5rem, 1.5rem 1.5rem;
}

/* Misc
-------------------------------------------------- */
figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 4em;
    margin-block-end: 4em;
}
figcaption {
    text-align: center;
    text-wrap: balance;
}
.wave {
    background-color: var(--color-primary);
    height: 2rem;
    --mask:
        radial-gradient(24.07px at 50% calc(100% + 15.20px),#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) calc(50% - 32px) calc(50% - 10px + .5px)/64px 20px repeat-x,
        radial-gradient(24.07px at 50% -15.2px,#0000 calc(99% - 4px),#000 calc(101% - 4px) 99%,#0000 101%) 50% calc(50% + 10px)/64px 20px repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
.ratio-16-9 {
    aspect-ratio: 16 / 9;
}

.ratio-3-2 {
    aspect-ratio: 3 / 2;
}

/* Clearing
-------------------------------------------------- */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf,
.full-bleed {
  content: "";
  display: table;
  clear: both;
}

/* Header Styles
-------------------------------------------------- */

div.header {
    background-color: var(--color-primary-off-white);
    padding: 6rem 0 4rem 0;
    margin-bottom: 4rem;
    border-bottom: 1rem solid var(--color-primary);
    /* grid pattern */
    /* background-image:  linear-gradient(var(--color-primary-tint) 1px, transparent 1px), linear-gradient(to right, var(--color-primary-tint) 1px, var(--color-primary-off-white) 1px);
    background-size: 20px 20px; */
    
    /* grid paper pattern */
    /* background-color: var(--color-primary-off-white);
    background-image:  linear-gradient(var(--color-primary-tint) 2px, transparent 2px), linear-gradient(90deg, var(--color-primary-tint) 2px, transparent 2px), linear-gradient(var(--color-primary-tint) 1px, transparent 1px), linear-gradient(90deg, var(--color-primary-tint) 1px, var(--color-primary-off-white) 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; */
    
    
}
#about.header h1 {
    font-size: 4.25rem;
}
/*
.header .text-content {
    padding-top: 6rem;
    padding-bottom: 4rem;
}*/
@media (min-width: 600px) {
    .header .text-content p {
        max-width: 512px;
        max-width: 32rem;
    }
    .header .text-content h2 {
        max-width: 28ch;
    }
    .header .text-content h3 {
        max-width: 36ch;
    }
    /*
    .header .text-content h4, .header .text-content h5 {
        max-width: 60ch;
    }*/
}
.header .img-content {
    padding-top: 4rem;
}
.header .img-content img {
    display: block;
}
.navbar {
    backface-visibility: hidden;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: var(--color-primary-off-white);
    background-color: var(--color-primary-glass);
    height: 4rem;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 8;
    top: 0;
    box-shadow: none;
    transition: all 100ms ease;
}
.navbar.scrolled {
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
    /* box-shadow:
        0px 0.9px 2.2px rgba(0, 0, 0, 0.02),
        0px 2.1px 5.3px rgba(0, 0, 0, 0.028),
        0px 4px 10px rgba(0, 0, 0, 0.035),
        0px 7.1px 17.9px rgba(0, 0, 0, 0.042),
        0px 13.4px 33.4px rgba(0, 0, 0, 0.05),
        0px 32px 80px rgba(0, 0, 0, 0.07)
    ; */
}
/*
.navbar.scrolled {
    box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,.26);
    background-color: var(--color-background);
}
 @media (prefers-color-scheme: dark) {
    .navbar {
        background-color: var(--color-section-background);
    }
    .navbar.scrolled {
        background-color: var(--color-background);
    }
} */
/* .navbar-content {
    width: 100%;
    float: left;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    position: absolute;
    left: 0;
    right: 0;
} */
.navbar-content {
    width: 100%;
    padding-top: 1.375rem;
    padding-bottom: 1.375rem;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.navbar-menu {
    display: flex;
    overflow: hidden;
    margin: 0;
    gap: 1rem;
}

.navbar-content .navbar-item {
    display: inline-block;
}

.navbar-content .navbar-item > a {
    display: inline;
    color: var(--color-text-base);
    text-align: center;
    text-decoration: none;
}
.navbar-content .navbar-item > a:hover {
    text-decoration: solid 2px underline;
    -webkit-text-decoration: solid 2px underline;
}

.navbar-content ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-inline-start: 0;
}

.navbar-content li {
    display: inline-block;
}

.navbar-content li a {
    display: inline;
    color: var(--color-text-base);
    text-align: center;
    text-decoration: none;
}

.navbar-content li a:hover {
    text-decoration: solid 2px underline;
    -webkit-text-decoration: solid 2px underline;
}

.light-text {
    color: white;
}

.light-text .navbar-content li a {
    color: white;
}

.navbar .name:before {
    content: "SD";
}

@media (min-width: 600px) {
    .navbar .name:before {
        content: "Steven Dolbey";
    }
}

.container.no-header {
    margin-top: 8rem;
}

.navbar.no-header {
    background-color: var(--color-background);
}

/* Footer Styles
-------------------------------------------------- */
.footer {
    background-color: var(--color-section-background);
}
.footer-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer .copyright::after {
    content: "© Steven Dolbey";
    display: block;
    opacity: 50%;
}
.see-more {
    padding-bottom: 2rem;
}
@media (min-width: 600px) {
    .footer .restrained {
        max-width: 512px;
        max-width: 32rem;
    }
}

/* Project Grid
-------------------------------------------------- */
.project-wrapper {
    box-sizing: border-box;
    color: var(--color-text-base);
}
.project-image {
    position: relative;
    overflow: hidden;
    /*
    width: 100%;
    padding-top: 66.66%;
    margin-bottom: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    background-color: var(--color-primary-backsplash);
    transition: all .4s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}
.card .project-image {
    margin: 1rem;
}
.card.project-wrapper img {
    /*
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
    transition: transform .4s cubic-bezier(.4,0,.2,1);
    object-fit: cover;
}
.card.project-wrapper:hover img {
    transform: scale(1.05);
}
/*
.card.project-wrapper:hover .project-image {
    background-color: var(--color-primary);
}*/
.project-title {
    line-height: 2rem;
    margin-bottom: 1rem;
}
.project-blurb {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* Project Pages
-------------------------------------------------- */
.team-member {
    font-weight: 600;
    line-height: 2.2rem;
    font-size: 1.3125rem;
}
.team-role {
    opacity: 70%;
    margin-bottom: 1rem;
}
.body-section img {
    margin-bottom: 1em;
}
.img-group {
    display: flex;
}
.img-group div:not(:last-child) {
    padding-right: 16px;
}
.img-group img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}
.last {
    margin-block-start: 1em;
}
.last::after {
    display: block;
    content: "܀";
    font-family: monospace;
    font-size: 2em;
    color: var(--color-primary);
    text-align: center;
}


/* Cards
-------------------------------------------------- */
div.card {
    position: relative;
    z-index: 0;
    box-sizing: border-box;
    /*
    max-width: 576px;
    max-width: 36rem; */
    margin: 1rem auto;
    background-color: var(--color-surface);
    /* z-index: 0;
    box-shadow: none; */
    border-radius: 12px;
    overflow: hidden;
    color: var(--color-text-base);
    transition: .4s;
}
.grid div.card {
    margin: 0;
}
.card-link, .card-link:hover {
    text-decoration: none;
}
.card-link:hover .card {
    /* position: relative;
    z-index: 2; */
    background-color: var(--color-primary-tint);
    /* box-shadow:
        0px 3.5px 2.2px rgba(0, 0, 0, 0.02),
        0px 8.5px 5.3px rgba(0, 0, 0, 0.028),
        0px 16px 10px rgba(0, 0, 0, 0.035),
        0px 28.6px 17.9px rgba(0, 0, 0, 0.042),
        0px 53.5px 33.4px rgba(0, 0, 0, 0.05),
        0px 128px 80px rgba(0, 0, 0, 0.07)
    ; */
    /* box-shadow:
        0px 0.7px 2.2px rgba(0, 0, 0, 0.02),
        0px 1.6px 5.3px rgba(0, 0, 0, 0.028),
        0px 3px 10px rgba(0, 0, 0, 0.035),
        0px 5.4px 17.9px rgba(0, 0, 0, 0.042),
        0px 10px 33.4px rgba(0, 0, 0, 0.05),
        0px 24px 80px rgba(0, 0, 0, 0.07)
    ; */
    /* border-radius: 12px; */
    transition: all .4s;
}
div.card-collection {
    gap: 1rem;
    box-sizing: border-box;
    /* This margin is necessary for the home page project cards. For now, anyway. Also used in articles. */
    margin: 0 auto 3.6rem auto;
}

.grid .card-collection {
    /* Margins don't collapse when grids are involved, so this removes extra margin in the footer when project suggestions are in place */
    margin-bottom: 0;
}

.card-collection .card {
    margin: 0;
    height: 100%;
}

.horizontal {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
}

.horizontal.center {
    align-items: center;
}

.vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

div.content {
    padding: 1.5rem 1rem;
}

.project.card {
    border-radius: 16px;
}

.project.card .content {
    padding: 1rem 1rem 2rem 1rem;
}

/*
@media (min-width: 768px) {
    .home.section .project.card .content {
        padding: 2rem;
        padding-right: 1rem;
    }
}
@media (min-width: 768px) {
    .home.section .project.card .content {
        padding: 2rem;
        padding-top: 1rem;
    }
}*/

div.content.reverse {
    flex-direction: column-reverse;
}

div.content h4, div.content h5, div.content h3, div.content p {
    margin: 0;
}

/* Other
-------------------------------------------------- */

marquee {
    background-color: var(--color-primary-bright);
    padding: 0.5rem 0;
}