/* Header Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header {
    background-color: #EAB464;
}

.navbar {
    background-color: #EAB464;
    height: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}
.navbar-content {
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbar #name {
    float: left;
    height: 1.625rem;
    margin: 1.1875rem 0;
    pointer-events: auto;
    position: relative;
}
.header-nav {
    float: left;
    padding: 0 32px;
    display: inline-block;
    height: 64px;
}
.header-nav ul {
    text-align: center;
    display: inline-block;
    height: 100%;
    line-height: 4rem;
    display: flex;
    justify-content: center;
}
.header-nav li {
    margin: 0 .5625rem;
    padding: 0 .75rem;
    height: 100%;
    border-bottom-style: solid;
    border-color: #dfe1e5;
    border-bottom-width: 0;
    transition: border-bottom-width .15s cubic-bezier(.4,0,.2,1);
    position: relative;
}
.header-nav li a {
    height: 100%;
    display: inline-block;
}
.header-nav a {
    color: #5f6368;
    letter-spacing: 0;
    text-transform: capitalize;
}