/* :root {
    --color-link: #CF8872;
    --color-highlight: #75a6a3;
}
@media (prefers-color-scheme: dark) {
    :root {
        --color-link: #E9B99D;
    }
} */
:root {
    --color-primary: #1d4b66;
    --color-primary-bright: #c8e6ff;
    --color-primary-tint: #d2e5f5;
    --color-primary-rich-black: #191c1e;
    --color-primary-off-white: #dde3ea;
}

.header.section {
    background-color: rgb(29, 75, 102);
}
@media (prefers-color-scheme: light) {
    /* :root {
        --color-text-headers: #1D4B66;
    } */
    .navbar, .navbar.scrolled {
        background-color: rgb(29, 75, 102);
    }
}
@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: rgb(29, 75, 102);
    }
    .navbar.scrolled {
        background-color: var(--color-background);
    }
}