/* :root {
    --color-background: #FDE4D8;
    --color-text-base: #270E02;
    --color-text-headers: ;
    --color-section-background: #fafafa;
    --color-navbar-background: rgb(250,250,250);
    --color-img-placeholder: #DEDEDE;
    --color-link: #DD6E42;
    --color-highlight: #EAB464;
} */
/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #5a3f31;
        --color-text-base: #fff;
        --color-text-headers: #fff;
        --color-section-background: #4a2e20;
        --color-navbar-background: #4a2e20;
        --color-img-placeholder: #4a2e20;
        --color-link: #f9bb9f;
        --color-highlight: #F69262;
    }
} */

.header.section {
    background-color: rgb(246, 146, 98);
}
@media (prefers-color-scheme: light) {
    .navbar, .navbar.scrolled {
        background-color: rgb(246, 146, 98);
        /* #F69262 */
    }
}
@media (prefers-color-scheme: dark) {
    .navbar {
        background-color: #F69262;
        color: #000;
    }
    .navbar-content li a {
        color: #000;
    }
    .navbar.scrolled {
        background-color: var(--color-background);
    }
    .navbar.scrolled, .navbar.scrolled li a {
        color: var(--color-text-base);
    }
}