/* :root {
    --color-background: #FDE4D8;
    --color-text-base: #270E02;
    --color-section-background: #fafafa;
    --color-navbar-background: rgb(250,250,250);
    --color-img-placeholder: #DEDEDE;
    --color-link: #DD6E42;
    --color-highlight: #EAB464;
} */
/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #4E1D04;
        --color-text-base: #FDE4D8;
        --color-section-background: #3A1503;
        --color-navbar-background: #3A1503;
        --color-img-placeholder: #3A1503;
        --color-link: #EAA286;
        --color-highlight: #E29728;
    }
} */